<div class="naslov">
  <h1>{{title}}</h1>
</div>
<div class="links">
  <span>
    <a routerLink="/login" routerLinkActive="active">
      Login
    </a>
  </span>
  <span>
    <a routerLink="/register" routerLinkActive="active">
      Register
    </a>
  </span>
  <span>
    <a routerLink="/oglasi/list" routerLinkActive="active">
      Oglas List
    </a>
  </span>
  <span>
    <a routerLink="/oglasi/create" routerLinkActive="active">
      Create Oglas
    </a>
  </span>
</div>
<router-outlet></router-outlet>